.img-card-fit {
    object-fit: cover;
    width: 100%;
    height: auto;
}

.img-cont {
    height: 200px;
    overflow: hidden;
    background-color: beige;
}

.card-content{
    height: 150px;
    overflow: auto;
}

main {
    min-height: calc(100vh - 100px);
  }

.checked{
    color: orange;
}



#offcanvasTop{
    color: white;
    background-color: black;
    height: fit-content;
}

.dropdown-menu{
    background-color: black;
}

.dropdown-item{
    background-color: black;
    color: orange;
}

.dropdown-item:hover{
    background-color: gray;
}